language: ruby
rvm: 2.2
before_install:
  - gem install bundler
script: 'bundle exec rspec'
env:
  - 'AR="~> 3.1.0"'
  - 'AR="~> 3.2.0"'
  - 'AR="~> 4.0.0"'
  - 'AR="~> 4.1.0"'
  - 'AR="~> 4.2.0"'
  - 'AR="= 5.0.0.beta3"'
